    <div class="nav-menu fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark navbar-expand-lg">
                        <h3><a style="color:bisque;" class="nav-link">{{data.brandName}}</a> </h3>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"> <a href="#home" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">{{data.nav1}} <span class="sr-only">(current)</span></a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#features">{{data.nav2}}</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#contact">{{data.nav3}}</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="/orders">View orders</a> </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>